<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{header}} | favfilms</title>
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#5c70e6">
	<link rel="preload" href="/fonts/nunito-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" href="/fonts/nunito-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="preconnect" href="https://res.cloudinary.com" crossorigin="anonymous">
	<link rel="dns-prefetch" href="https://res.cloudinary.com" crossorigin="anonymous">
	<link rel="preconnect" href="https://image.tmdb.org" crossorigin="anonymous">
	<link rel="dns-prefetch" href="https://image.tmdb.org" crossorigin="anonymous">
	{{!-- inline CSS --}}
	<style>body,h1,h2,h3,h4,h5,html,li,ol,p,ul{margin:0;padding:0}h1,h2,h3,h4,h5{font-size:100%;font-weight:400}ul{list-style:none}button,input,select,textarea{margin:0;font-family:inherit}button{padding:0}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}img{height:auto;max-width:100%}a{text-decoration:none}body{font-family:'Nunito Sans',sans-serif;font-size:1rem;line-height:1.5;color:#373a3c;font-weight:400;user-select:none}h1,h2,h3,h4,h5{margin-bottom:.5rem;font-family:inherit;font-weight:700;line-height:1.2;color:inherit}h2{font-size:2.75rem}h4{font-size:1.5rem}.header{width:95%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.header .navbar{border-radius:0;border:none;margin:0;display:flex;flex-direction:row;justify-content:space-between;align-items:center;background-color:#fff;padding:10px 16px}.navbar .cb,.navbar .navbar-toggler{display:none}.navbar .navbar-collapse{display:flex;flex-direction:row;align-items:center;flex-grow:1;flex-basis:100%}.navbar-collapse .navbar-nav{display:flex;flex-direction:row;margin:0 auto}.navbar .navbar-nav .nav-link{padding:8px;color:#373a3c}.navbar-logo{margin:0;padding:0}.navbar-logo img{width:100px;height:100%;vertical-align:middle}.navbar-collapse.show{padding:.5rem 0}.form-inline{display:inline-block;position:relative}.form-inline .form-control{padding:8px 20px;border:1px solid #eee;border-radius:16px;outline:0}.form-inline .btn{position:absolute;top:0;right:10px;width:15px;height:100%;border:initial;background-color:initial;cursor:pointer}.form-inline .btn svg{vertical-align:sub}@media (max-width:768px){.header .navbar{flex-wrap:wrap;padding:16px}.navbar .navbar-toggler{display:block;cursor:pointer}.navbar .navbar-toggler .line{width:24px;height:2px;background-color:#000;transition:all .2s linear;text-align:right}.navbar .navbar-toggler .line:not(:last-of-type){margin-bottom:4px}.navbar-toggler .line:nth-child(2){width:20px;margin-left:4px}.navbar .cb:checked~.navbar-toggler .line:first-of-type{position:relative;top:3px;-webkit-transform:rotate(135deg);transform:rotate(135deg)}.navbar .cb:checked~.navbar-toggler .line:nth-child(2){display:none}.navbar .cb:checked~.navbar-toggler .line:last-of-type{position:relative;top:-3px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.navbar .navbar-collapse{display:none}.navbar .navbar-collapse .navbar-nav{flex-direction:column}.navbar .navbar-nav .nav-link{padding-left:0;width:100%;height:100%;display:inline-block}.navbar .navbar-nav .nav-item:not(:last-child){border-bottom:1px solid #ececec}.navbar .form-inline{margin-top:5px}.navbar .form-inline .btn{right:20px}.navbar .form-inline .form-control{padding-top:10px;padding-bottom:10px;border-radius:20px}.navbar .form-inline,.navbar .form-inline .form-control{width:100%}.navbar .cb:checked~.navbar-collapse{display:block;padding-top:10px}}.container{width:90%;margin:0 auto;padding:25px 0 50px;display:flex;flex-wrap:wrap;justify-content:space-around}.card{display:flex;flex-direction:column;width:370px;max-width:100%;height:100%;max-height:335px;margin:15px auto;box-shadow:5px 5px 25px 0px rgba(46,61,73,0.2);font-size:14px;border-radius:6px;transition:all 0.3s ease}.card p{margin:0}.card__images{min-height:185px;background-image:url(/img/backdrop-loading.png);background-size:cover;position:relative;border-top-left-radius:6px;border-top-right-radius:6px}.card__images--missing{background-image:url(/img/backdrop-missing.png)}.card__images__image{position:absolute;left:10px;bottom:0;width:initial;height:100px;border-top-left-radius:6px;border-top-right-radius:6px;box-shadow:5px 5px 20px rgba(255,255,255,.16)}.card__body{position:relative;padding:0 15px}.card__body .card__title{font-size:22px;margin:8px 0 0;line-height:30px;font-weight:700;white-space:nowrap;overflow-x:hidden;color:#232123}.card__body .card__description{box-sizing:initial;font-size:13px;padding:1px 0;height:57px;max-height:57px;overflow-y:hidden}.card__body .card__favs{width:85px;height:50px;text-align:center;line-height:50px;background-color:#fff;position:absolute;right:0;top:-30px;font-size:20px;border:none;outline:0;cursor:pointer;-webkit-tap-highlight-color:transparent;border-top-left-radius:30px;border-bottom-left-radius:30px;box-shadow:-1px 3px 20px -1px rgba(0,0,0,.16);transition:box-shadow 150ms ease-in,transform .2s ease-out}.card__body .card__favs__count{font-size:16px;font-weight:700}.card__footer{display:flex;box-sizing:border-box;width:100%;padding:10px 15px}.card__footer__data>*{display:inline-block}.card__footer__data>:not(:last-child)::after{content:"·";display:inline-block;margin:0 5px}.card__footer__viewMore{margin-left:auto}.card__footer__viewMore a{color:#5c70e6;text-transform:uppercase;font-weight:700;font-size:14px}.card__footer__viewMore a::after{content:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 10'><path d='M0 0 l4 5-4 5' fill='none' stroke='%235c70e6' stroke-width='1.5'/></svg>");display:inline-block;width:6px;height:10px;margin-left:5px}@media (min-width:768px){.container{width:95%}.card{width:48%;max-width:370px}}@media (max-width:800px){.navbar .nav-link{padding:4px}}@media only screen and (max-width: 576px){.container{width:100%;padding:20px 5px}.card__body .card__favs{height:55px}.card__info{padding-top:0}}@media only screen and (max-width: 335px){.card__image{min-height:220px}.xs-hide:nth-of-type(2){display:none}}</style>
	
	<link href="/css/style.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link href="/css/style.min.css" rel="stylesheet"></noscript>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="favfilms">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="/img/icons/apple-167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-180.png">
</head>
<body>
	<header class="header">
		<nav class="navbar">
			<a href="/" class="navbar-logo">
				<img src="/img/favfilms-logo.png" alt="favfilms logo">
			</a>

			<input type="checkbox" id="nav-open" class="cb" />
			<label for="nav-open" class="navbar-toggler">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</label>
			
			<div class="navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/movies/popular">Popular movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/top-rated">Top rated movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/filter">Genres filter</a>
					</li>
				</ul>

				<form action="/movies/search" method="POST" class="form-inline">
					<input type="text" name="query" class="form-control" placeholder="Search for movie" required>
					<button class="btn" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="15px" viewBox="0 0 38.875 41"><path fill-rule="evenodd" d="M38.41 38.41l-9.262-9.29a17.19 17.19 0 1 0-2.31 1.95l9.446 9.48a1.50826689 1.50826689 0 1 0 2.126-2.14zM3.01 17.1a14.035 14.035 0 1 1 14.035 14.08A14.055 14.055 0 0 1 3.01 17.1z"/></svg>
					</button>
				</form>
			</div>
		</nav>
	</header>

	<main class="main">
		{{{ body }}}
	</main>

	<link rel="preload" href="/fonts/nunito.css" type="text/css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/fonts/nunito.css" type="text/css"></noscript>
	<script>!function(n){"use strict";n.loadCSS||(n.loadCSS=function(){});var o=loadCSS.relpreload={};if(o.support=function(){var e;try{e=n.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),o.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},o.poly=function(){if(!o.support())for(var t=n.document.getElementsByTagName("link"),e=0;e<t.length;e++){var a=t[e];"preload"!==a.rel||"style"!==a.getAttribute("as")||a.getAttribute("data-loadcss")||(a.setAttribute("data-loadcss",!0),o.bindMediaToggle(a))}},!o.support()){o.poly();var t=n.setInterval(o.poly,500);n.addEventListener?n.addEventListener("load",function(){o.poly(),n.clearInterval(t)}):n.attachEvent&&n.attachEvent("onload",function(){o.poly(),n.clearInterval(t)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:n.loadCSS=loadCSS}("undefined"!=typeof global?global:this)</script>

	<script type="text/javascript" src="/js/idb.js" defer></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>