<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{header}} | favfilms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header id="site-header" class="container">
		<nav class="navbar navbar-light navbar-expand-lg">
			<a href="/" class="navbar-brand">
				<img src="/img/favfilms.png" alt="favfilms logo">
			</a>
			<button class="navbar-toggler" type="button" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/movies/popular">Popular movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/top-rated">Top rated movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/filter">Genres filter</a>
					</li>
				</ul>
				<form action="/movies/search" method="POST" class="form-inline nav-form-inline">
					<input type="text" name="query" class="form-control" placeholder="Search for movie" required>
					<button class="btn btn-outline-secondary" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</header>

	<main id="site-main">
		{{{ body }}}
	</main>

	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>