<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{header}} | favfilms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://image.tmdb.org" rel="preconnect" crossorigin>
	<link rel="preload" as="style" href="/css/bootstrap.min.css" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="preload" as="image" href="/img/favfilms.png">
</head>
<body>
	<header id="site-header" class="container">
		<nav class="navbar navbar-light navbar-expand-lg">
			<a href="/" class="navbar-brand">
				<img src="/img/favfilms.png" alt="favfilms logo">
			</a>
			<button class="navbar-toggler" type="button" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/movies/popular">Popular movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/top-rated">Top rated movies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/movies/filter">Genres filter</a>
					</li>
				</ul>
				<form action="/movies/search" method="POST" class="form-inline nav-form-inline">
					<input type="text" name="query" class="form-control" placeholder="Search for movie" required>
					<button class="btn btn-outline-secondary" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.875 41"><path fill-rule="evenodd" d="M38.41 38.41l-9.262-9.29a17.19 17.19 0 1 0-2.31 1.95l9.446 9.48a1.50826689 1.50826689 0 1 0 2.126-2.14zM3.01 17.1a14.035 14.035 0 1 1 14.035 14.08A14.055 14.055 0 0 1 3.01 17.1z"/></svg>
					</button>
				</form>
			</div>
		</nav>
	</header>

	<main id="site-main">
		{{{ body }}}
	</main>

	<script type="application/javascript" src="/js/script.js" defer></script>
</body>
</html>