body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
}

::selection { background: #FFF498 }
img::selection { background: transparent }

h2 { font-size: 2.75rem; }
h4 { font-size: 1.5rem; }
h4 small { font-size: 0.8rem; }
h4 small::before { content: "("; }
h4 small::after { content: ")"; }
h4 small a, .card-land-genres a {
  color: #8553f6;
}
img { width: 100%; height: 100%; }

a:hover, a:focus { text-decoration: none }

.logo {
  display: inline-block;
  height: 50px;
  text-align: center;
}

#site-header { background-color: #fff }
#site-header .navbar, #site-main .jumbotron {
	border-radius: 0;
	border: none;
	margin: 0;
}
#site-header .navbar { background-color: #fff }
#site-header .navbar-brand {
  margin: 0; padding: 0;
}
.navbar-collapse.show { padding: 0.5rem 0 }
#site-main { background-color: #f7f7f8 }
#site-main .jumbotron {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1.75rem;
	color: #cdbfe3;
	background-color: #563d7c;
  border-bottom: 7px solid #473267;
}
#site-main .jumbotron h1 {
	color: #fff;
	font-size: 3.5rem;
}

#site-main .wrapper {
	width: 90%;
	margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tc { text-align: center }

.movie-card {
  display: flex;
  position: relative;
  width: 550px;
  max-height: 350px;
  align-items: flex-start;
  /* border: 1px solid #ddd; */
  /* border-radius: 3px; */
  margin-bottom: 1rem;
  background-color: #fff;
  /* box-shadow: 2px 4px 40px 3px rgba(0,0,0,0.1); */
  box-shadow: 1px 3px 75px rgba(0,0,0,0.1);
}
.movie-card__image {
  width: 42%;
}
.movie-card__content {
  display: flex;
  /* width: 58%; */
  height: 100%;
  flex-direction: column;
  margin-bottom: 0px;
}
.movie-card__content__favs {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--purple);
  color: #fff;
  padding: 4px 5px;
  min-width: 1.75rem;
  text-align: center;
}
.movie-card__content__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.movie-card__content__info__title {
  font-size: 1.5rem;
}
.movie-card__content__info__genres, .movie-card__content__info__cast {
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.movie-card__content__info__description {
  overflow-y: hidden;
}
.movie-card__content__info__expand {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 0.75rem;
  color: #555;
  font-size: 0.85rem;
  text-align: center;
  background-image: linear-gradient(to bottom, hsla(0, 0%, 100%, 0.21) 0%, hsla(0, 0%, 100%, 0.219) 7.7%, hsla(0, 0%, 100%, 0.245) 14.8%, hsla(0, 0%, 100%, 0.281) 21%, hsla(0, 0%, 100%, 0.325) 26.5%, hsla(0, 0%, 100%, 0.372) 31.4%, hsla(0, 0%, 100%, 0.422) 35.9%, hsla(0, 0%, 100%, 0.473) 40.1%, hsla(0, 0%, 100%, 0.527) 44.2%, hsla(0, 0%, 100%, 0.579) 48.1%, hsla(0, 0%, 100%, 0.632) 52%, hsla(0, 0%, 100%, 0.686) 56%, hsla(0, 0%, 100%, 0.739) 60.1%, hsla(0, 0%, 100%, 0.79) 64.3%, hsla(0, 0%, 100%, 0.84) 68.8%, hsla(0, 0%, 100%, 0.887) 73.7%, hsla(0, 0%, 100%, 0.93) 79.2%, hsla(0, 0%, 100%, 0.966) 85.4%, hsla(0, 0%, 100%, 0.991) 92.5%, hsl(0, 0%, 100%) 100%);
}
.movie-card__content__info__expand span {
  position: absolute;
  left: 10px;
  font-size: 1.25rem;
}
.movie-card__content__btn-group {
  display: flex;
  width: 100%;
}
.movie-card__content__btn-group > .btn {
  border-radius: 0;
}
.movie-card__content__btn-group .btn-add2fav {
  width: 100%;
  padding: 10px;
  /* border-bottom-right-radius: 0.25rem; */
}

.btn-add2fav:disabled { 
  opacity: .65;
  cursor: not-allowed;
}
.btn-add2fav:focus, .btn-add2fav:active, .btn-expand:focus, .btn-expand:active { outline: none }
.btn-expand {
  width: 3rem;
  right: 16.5rem;
}
.btn-wider { width: 19.5rem }
.nav-form-inline {
  border: 1px solid var(--secondary);
}
.nav-form-inline .form-control {
  border: none;
  display: flex;
  flex: 1;
}
.nav-form-inline .btn {
  border: none;
  border-radius: 0;
}

.btn-primary, .btn-secondary, .btn-success, .btn-outline-success, .btn-warning, .btn-danger, .btn-info, #btn-filter { transition: all 300ms ease }

/* .form-inline .form-control {
  width: 17.5rem;
  border-color: #563d7c;
} */

.genre-box {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 0.75rem;
}
.genre-title { font-size: 1.5rem }
.form-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 0;
  user-select: none;
}
.form-check .col-sm-3 { text-align: left }

#btn-filter {
  position: absolute;
  top: 0; right: 0;
  width: 8.5rem; height: 100%;
  border: 0;
  font-size: 4rem;
  cursor: pointer;
  color: #cdbfe3;
  background-color: #563d7c;
  border-left: .125rem solid #473267;
  outline: none;
}
#btn-filter:hover { background-color: #5f4389 }

/* .nav-link::before, .nav-link::after {
  content: "|";
  display: inline-block;
  transform: translateY(-100px);
  transition: transform 300ms ease;
}

.nav-link:hover::before { transform: translate(-5px, 0) }
.nav-link:hover::after { transform: translate(5px, 0) }
 */
.table {
  width: 300px;
  text-align: right;
  background-color: #fff;
}
.table thead th { text-align: right }

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
} .clearfix::after { clear: both }

/*========= Modal =========*/
.overlay {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
}
.overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.overlay.is-open .modal-movie { transform: translate(0, 0) }

.modal-movie {
  transform: translate(0px, -100px);
  position: relative;
  max-width: 90%;
  transition: transform 500ms cubic-bezier(0.25, 0.35, 0, 1.74);
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-movie .img-left, .modal-movie .details-block { float: left }
.modal-movie .img-left {
  padding: 15px;
  width: 30%;
}
.modal-movie .img-left img, .modal-movie .img-left .btn-fav {
  display: block;
  width: 100%;
}
.modal-movie .img-left img {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.modal-movie .img-left .btn-fav {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border: none; outline: none;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.modal-movie .details-block {
  width: 65%;
  margin-left: 20px;
  padding: 15px;
  color: #dedede;
}
.details-block .favs {
  position: absolute;
  top: 0; right: 0;
  min-width: 35px; height: 35px;
  line-height: 30px;
  background-color: #563d7c;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  user-select: none;
}

h2.title small { font-size: 1.75rem }
h2.title small::before { content: "(" }
h2.title small::after { content: ")" }

.modal-movie .close-btn {
  position: absolute;
  top: -30px; right: -30px;
  font-size: 3.5rem;
  line-height: 0.3;
  font-weight: 400;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  color: #eee;
}
.modal-movie .close-btn:hover { transform: rotateZ(90deg) translate(5px, -5px) }

/*========= on small =========*/
@media (max-width: 576px) {
  #site-main .wrapper {
    width: 100%;
    padding: 0 5px;
    margin: 20px auto;
  }
  #site-main .jumbotron h1 { font-size: 1.75rem }
  .movie-card {
    max-height: 230px;
    border: none;
    box-shadow: none;
  }
  .movie-card__content__info__cast { overflow-y: hidden }
  .movie-card__content__info__expand { padding-top: 2.5rem }
}
